<div class="fix_body">
  <div class="container">
    <div class="fix_center">
      <h1><%= t ".infor" %></h1><br><br>
    </div>
    <div class="row">
      <div class="col-7">
        <%= form_for @district do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <div class="form-group">
            <div class="fix_center">
              <h5><%= f.label :name, t(".enter") %></h5>
            </div>
            <%= f.text_field :name, class:"form-control", placeholder: t(".name") %>
            <div class="fix_center">
              <%= f.submit t(".submit"), class:"form-btn fix_btn" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-5">
        <div class="fix_center">
          <h5><%= t ".list" %></h5><br>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-6">
            <% @districts.each do |d| %>
              <%= link_to district_path(id: d.id), method: :delete,
               data: { confirm: t(".sure") } do %>
                <i class="fa fa-trash"></i>
              <% end %>
              <%= d.name %><br>
            <% end %><br>
          </div>
          <div class="fix_paginate">
            <%= paginate @districts, theme: "twitter-bootstrap-4" %>
          </div>
        </div>
        <div class="fix_center">
          <h4><%= t ".sum" %> <%= @count %> <%= t ".district" %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
