<%= form_for @place do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <h4><%= f.label :status, t(".category") %></h4>
    <%= f.select :status, options_for_select(["hotel", "restaurant"]), {prompt: t(".select")}, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4><%= f.label :district_id, t(".district") %></h4>
      <%= f.select :district_id, options_for_select(District.pluck(:name, :id)),
      {prompt: t(".select")}, class:"form-control" %>
  </div>
  <div class="form-group">
    <h4><%= f.label :name, t(".name") %></h4>
    <%= f.text_field :name, class: "form-control", placeholder: t(".enter_name") %>
  </div>
  <div class="form-group">
    <h4><%= f.label :description, t(".description") %></h4>
    <%= f.text_area :description, class: "form-control", placeholder: t(".enter_description"), rows:"5" %>
  </div>
  <div class="form-group">
    <h4><%= f.label :address, t(".address") %></h4>
    <%= f.text_field :address, class: "form-control", placeholder: t(".enter_address") %>
  </div>
  <div class="form-group">
    <h4><%= f.label :vote, t(".evaluate") %></h4>
    <%= f.select :vote, options_for_select((1..5).to_a), {prompt: t(".select")}, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4><%= f.label :cost, t(".cost") %></h4>
    <%= f.text_field :cost, class: "form-control", placeholder: t(".enter_cost") %>
  </div>
  <h4><%= f.label :photo, t(".photo") %></h4>
  <%= f.file_field :photo, accept: "image/jpeg,image/gif,image/png" %>
  <div class="fix_center">
    <%= f.submit t(".submit"), class:"form-btn" %>
  </div>
<% end %>
