<footer class="footer footer_custom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="static">
          <h3><%= t(".statistic") %></h3>
          <%= Place.count %>
          <%= t(".local_city") %><br>
          <%= User.count %>
          <%= t(".user") %><br>
          <%= Comment.count %>
          <%= t(".comment") %>
          <%= t(".share") %><br>
          <%= Blog.count %>
          <%= t(".checkin") %>
          <%= t(".done") %><br>
          <%#= t(".image") %>
          <%#= t(".upload") %><br>
          <%#= t(".album") %>
          <%#= t(".albumcreate") %>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <%= link_to "https://twitter.com/?lang=vi" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "http://facebook.com.vn" do %>
              <i class="fa fa-facebook-f"></i>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://www.skype.com/en/" do %>
              <i class="fa fa-skype"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <%= link_to t(".Privacy"), "#" %>
          </li>
          <li class="list-inline-item">
            <%= link_to t(".Terms"), "#" %>
          </li><br>
          <%= link_to image_tag("us.png", alt: "en"), locale:"en" %>
          <%= link_to image_tag("vn.png", alt: "vi"), locale:"vi" %>
        </ul>
      </div>
    </div>
  </div>
</footer>
