<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= full_title yield :title %></title>
  <%= render "layouts/default" %>
  <%= render "layouts/font"%>
</head>
<body id="page-top">
  <%= render "layouts/navigation"%>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>
</html>
